<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
		<package name="org.zerock.domain" />
	</typeAliases> -->
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="com.tistory.pentode.dto"/> 
		<!-- <typeAlias alias="MemberVO" type="com.tistory.pentode.vo.MemberVO"/>
		<typeAlias alias="UserVO" type="com.tistory.pentode.vo.UserVO"/>
		<typeAlias alias="MovieVO" type="com.tistory.pentode.vo.MovieVO"/>
		<typeAlias alias="TheaterVO" type="com.tistory.pentode.vo.TheaterVO"/> -->
	</typeAliases>

</configuration>

